@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

body{
   font-family: 'Open Sans';
   background: #FFF;
   color: #282828;
}

#search{
   text-align: center;
   padding-top: 45px;
   width: 100%;
}

input[type=text]{
   width: 50%;
   border: 1px solid #ccc;
   padding: 13px;
   border-radius: 8px;
   vertical-align: middle;
}

button{
   background: #1c76d5;
   color: #fff;
   border: 0;
   border-radius: 8px;
   padding: 0 15px;
   height: 43px;
   font-size: 16px;
   cursor: pointer;
   vertical-align: middle;
}

#view{
   text-align: center;
   margin-top: 35px;
   font-size: 22px;
}

.show{
   display: block !important;
}

#error{
   color: #FF6A6A;
   text-align: center;
   margin-top: 15px;
   display: none;
}